VITE_API_URL=https://your-domain.example/api
VITE_KEYCLOAK_URL=https://your-domain.example
VITE_KEYCLOAK_REALM=hung2004
VITE_KEYCLOAK_CLIENT_ID=graduation_thesis_ver2
VITE_KEYCLOAK_TOKEN_URL=https://your-domain.example/realms/hung2004/protocol/openid-connect/token
VITE_KEYCLOAK_AUTH_URL=https://your-domain.example/realms/hung2004/protocol/openid-connect/auth
